<!-- views/recipes/show.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= recipe.name %> Details</title>
  </head>
<body>
    <%- include('../partials/_navbar') %>
    <h2><%= recipe.name %></h2>
    <ul>
      <li><h3>Ingredients: <%= recipe.ingredients %></h3></li>
      <li><h3>Instructions: <%= recipe.instructions %></h3></li>
  </ul>
    
    <a href="/recipes/edit/<%=recipe._id%>"><button>Edit</button>
    <br>
    <br>
    <form action="/recipes/<%=recipe._id%>?_method=DELETE" method="POST">
        <button style="color:red;" type="submit">Delete</button>
    </form>
</body>
</html>